<f:layout name="Module"/>

<f:section name="Content">
    <h1>{f:translate(key: 'submoduleTitle_listUsersAction')}</h1>

    <table class="table table-striped beusertools-table">
        <thead>
        <tr>
            <th scope="col" width="300">{f:translate(key: 'tableHeaderUsername')}</th>
            <th scope="col">{f:translate(key: 'tableHeaderUsergroups')}</th>
            <th scope="col">Uid</th>
        </tr>
        </thead>
        <tbody>
        <f:for each="{backendUsers}" as="user">
            <tr>
                <td>
                  <f:if condition="{user.isDisabled}">
                    <f:then>
                      <span class="text-danger"><strong>{user.userName}</strong> ({f:translate(key: 'disabled')})</span>
                    </f:then>
                    <f:else>
                      <strong>{user.userName}</strong>
                    </f:else>
                  </f:if>
                  <f:if condition="{user.realName}">
                    <f:then><br/>{user.realName}</f:then>
                  </f:if>
                </td>
                <td>
                    <ul>
                        <f:for each="{user.usergroup}" as="usergroup" iteration="iterator">
                            <li>{usergroup.title}</li>
                        </f:for>
                    </ul>
                </td>
              <td>{user.uid}</td>
            </tr>
        </f:for>
        </tbody>
    </table>
</f:section>
