<f:layout name="Default" />

<f:section name="content">
	<f:flashMessages renderMode="div" />

	<h1>{f:translate(key: 'submoduleTitle_listUsersAction')}</h1>

		<table border="0" cellpadding="0" cellspacing="0" class="typo3-dblist">
			<tr class="t3-row-header">
				<td width="300">{f:translate(key: 'tableHeaderUsername')}</td>
				<td>{f:translate(key: 'tableHeaderRealname')}</td>
				<td>{f:translate(key: 'tableHeaderUsergroups')}</td>
			</tr>
			<f:for each="{backendUsers}" as="user">
				<tr class="db_list_normal">
					<td class="t3-title-column">{user.username}</td>
					<td>{user.realName}</td>
					<td>
						<ul>
							<f:for each="{user.usergroup}" as="usergroup" iteration="iterator">
								<li>{usergroup.title}</li>
							</f:for>
						</ul>
					</td>
				</tr>
			</f:for>
		</table>

</f:section>