<f:layout name="Default"/>

<f:section name="content">
    <h1>{f:translate(key: 'submoduleTitle_listUsersAction')}</h1>

    <table class="table table-striped beusertools-table">
        <thead>
        <tr>
            <td scope="col" width="300">{f:translate(key: 'tableHeaderUsername')}</td>
            <td scope="col">{f:translate(key: 'tableHeaderRealname')}</td>
            <td scope="col">{f:translate(key: 'tableHeaderUsergroups')}</td>
        </tr>
        </thead>
        <tbody>
        <f:for each="{backendUsers}" as="user">
            <tr>
                <td>{user.username}</td>
                <td>{user.realName}</td>
                <td>
                    <ul>
                        <f:for each="{user.usergroup}" as="usergroup" iteration="iterator">
                            <li>{usergroup.title}</li>
                        </f:for>
                    </ul>
                </td>
            </tr>
        </f:for>
        </tbody>
    </table>

</f:section>
